.details {
    width: 60em;
    height: 40em;
    margin: auto;
    margin-top: 5em;
    background-color: white;
    border-radius: 1em;
    box-shadow:  0 0 15px rgba(0,0,0,.2);
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-direction: row-reverse;
    font-size: 17px;
    margin-left: 30px;
    float: left;
}

.btn {
    font-size: 17px;
    width: 120px;
    height: 40px;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    background-color: white;
}